<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'About | '+${application.headMap['title']}">Hello,ruan4261!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="description" th:content="${application.headMap['description']}">
    <meta name="keywords" th:content="${application.headMap['keywords']}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/blog_static@1.0.3200307/image/pro.jpg">
    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/blog_static@1.0.3200307/fontawesome/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/blog_static@1.0.3200307/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/blog_static@1.0.3200307/css/reset.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/blog_static@1.0.3200307/css/style.css" rel="stylesheet">
    <!--全局声明Package-->
    <script src="https://cdn.jsdelivr.net/npm/blog_static@1.0.3200307/js/jquery1.12.4.js"></script>
    <!--popper用于支持bootstrapVer4.4.1-->
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/blog_static@1.0.3200307/js/bootstrap.js"></script>
    <script>
        //语言适配器，使用方法：将语言代码当做参数传进来
        //此处源码为thymeleaf转义
        //此处有一个用于idea中的format格式化锁，禁止排版
        //@formatter:off
        let langToggle = function (param) {
            let queryString='[[${#request.queryString}]]';
            let arr=queryString.split('&amp;');
            for (let i=0;i<arr.length;){
                if (arr[i].indexOf('lang=')!=-1){//自删
                    arr.splice(i,1);
                    continue;
                }
                i++;
            }
            queryString=arr.join("&");
            if (queryString.trim()!=''){
                window.location.href = '[[${#request.getRequestURL()}]]'+'?lang='+ param+'&'+queryString;
            }else {
                window.location.href = '[[${#request.getRequestURL()}]]'+'?lang='+ param;
            }
        }
        //@formatter:on
        //最后，祝thymeleaf早日成佛，别渡我这个莎比————我第一次知道了什么叫做一页代码改一天
    </script>
</head>
<body>
<header th:replace="common/common.html::body-header"></header>
<nav th:replace="common/common.html::left-nav"></nav>
<section class="blog-body" id="section">
    <div class="container">
        <div class="row">
            <div class="col-1 hidden-less-1200"></div>
            <div class="col-12 col-xl-10 history-body">
                <div class="history-ul" th:each="history:${application.historyList}">
                    <div class="history-li" th:each="entry:${history}">
                        <h1 th:text="${entry.key}"></h1>
                        <p th:text="${entry.value}"></p>
                    </div>
                </div>
            </div>
            <div class="col-1 hidden-less-1200"></div>
        </div>
    </div>
</section>
<footer th:replace="common/common.html::body-footer"></footer>
</body>
<!--每个View有独立的js模块，非common的去中心化模式-->
<script src="https://cdn.jsdelivr.net/npm/blog_static@1.0.3200307/js/visual.js"></script>
</html>