<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruan.blog.mapper.CommentMapper">

    <!--映射-->
    <resultMap id="commentMap" type="Comment">
        <id property="id" column="comment_id"/>
        <result property="score" column="comment_score"/>
        <result property="content" column="comment_content"/>
        <result property="email" column="comment_email"/>
        <result property="time" column="comment_time"/>
        <result property="master" column="comment_master"/>
        <result property="parent" column="comment_parent"/>
        <result property="target" column="comment_target"/>
        <result property="likeTimes" column="comment_like_times"/>
        <association property="link" javaType="Link">
            <id property="id" column="link_id"/>
            <result property="http" column="link_http"/>
            <result property="title" column="link_title"/>
            <result property="desc" column="link_desc"/>
            <result property="profile" column="link_profile"/>
            <result property="email" column="link_email"/>
            <result property="password" column="link_password"/>
            <result property="status" column="link_status"/>
        </association>
        <association property="origin" javaType="Origin">
            <id property="id" column="origin_id"/>
            <result property="browser" column="origin_browser"/>
            <result property="system" column="origin_system"/>
            <result property="ip" column="origin_ip"/>
            <result property="address" column="origin_address"/>
            <result property="isp" column="origin_isp"/>
        </association>
    </resultMap>

    <!--接口-->
    <insert id="addComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
        insert tb_comment(comment_score,comment_content,comment_link,comment_email,comment_time,comment_master,
        comment_parent,comment_target,comment_origin)
        value(#{score},#{content},#{link.id},#{email},#{time},#{master},#{parent},#{target},#{origin.id});
    </insert>
    <select id="getComment" parameterType="Comment" resultMap="commentMap">
        select * from tb_comment as c
        left outer join tb_origin as o on c.comment_origin=o.origin_id
        left outer join tb_link as l on c.comment_link=l.link_id
        where c.comment_id=#{id}
    </select>
    <select id="getCommentList" resultMap="commentMap">
        select * from tb_comment as c
        left outer join tb_origin as o on c.comment_origin=o.origin_id
        left outer join tb_link as l on c.comment_link=l.link_id
        <trim prefix="where" prefixOverrides="and |or ">
            <if test="comment.master!=null">
                c.comment_master=#{comment.master}
            </if>
            <if test="subset==null">
                and c.comment_parent is null
            </if>
            <if test="comment.content!=null">
                and c.comment_content like #{comment.content}
            </if>
            <if test="comment.parent!=null">
                and c.comment_parent=#{comment.parent}
            </if>
            <if test="comment.target!=null">
                and c.comment_target=#{comment.target}
            </if>
            <if test="comment.origin!=null">
                <if test="comment.origin.browser!=null">
                    and o.origin_browser like #{comment.origin.browser}
                </if>
                <if test="comment.origin.system!=null">
                    and o.origin_system like #{comment.origin.system}
                </if>
                <if test="comment.origin.address!=null">
                    and o.origin_address like #{comment.origin.address}
                </if>
                <if test="comment.origin.isp!=null">
                    and o.origin_isp like #{comment.origin.isp}
                </if>
            </if>
        </trim>
        <choose>
            <when test="order==1">
                order by c.comment_like_times desc,c.comment_time desc
            </when>
            <otherwise>
                order by c.comment_time desc
            </otherwise>
        </choose>
        <if test="pageOpen!=null and pageSize!=null">
            limit #{pageOpen},#{pageSize}
        </if>;
    </select>
    <select id="getCommentListOnlyOnce" resultMap="commentMap">
        select * from (select (@rownum := @rownum + 1) rn,comment_id as comm from tb_comment,(SELECT @rownum := 0) AS rn
        where comment_master=#{comment.master} and comment_parent is null
        <choose>
            <when test="order==1">
                order by comment_like_times desc,comment_time desc
            </when>
            <otherwise>
                order by comment_time desc
            </otherwise>
        </choose>
        limit #{pageOpen},#{pageSize}) as r
        left outer join tb_comment as c on c.comment_id=r.comm or c.comment_parent=r.comm
        left outer join tb_origin as o on o.origin_id=c.comment_origin
        left outer join tb_link as l on l.link_id=c.comment_link
        where c.comment_id = r.comm or c.comment_parent = r.comm
        order by r.rn,c.comment_time;
    </select>
    <select id="getCommentCount" parameterType="Article" resultType="java.lang.Integer">
        select count(*) from tb_comment
        where comment_master=#{id};
    </select>
    <select id="getCommentCountForPage" parameterType="Article" resultType="java.lang.Integer">
        select count(*) from tb_comment
        where comment_master=#{id} and comment_parent is null;
    </select>
    <update id="updateComment" parameterType="Comment">
        update tb_comment
        set comment_content=#{content},comment_like_times=#{likeTimes}
        where comment_id=#{id};
    </update>
    <delete id="deleteComment" parameterType="Comment">
        delete from tb_comment
        where comment_id=#{id};
    </delete>

</mapper>